<h2 align = "center" > Welcome to SiS </h2>

<% if flash[:notice]%>
<div class="alert">
	<button type="button" class="close" data-dismiss="alert">
		&times;
	</button>
	<strong> <%= flash[:notice] %> </strong>
</div>
<% end %>
<div class="span9 offset3" >
	<div class="row-fluid">
		<!-- text-center -->
		<div class="span6 loging_n_register_div center">
			<h2 id="Sign_in" >Sign in</h2>
			<%= form_tag sessions_path, class: "form-horizontal" do |f| %>
			<div class="control-group">
				<%= label_tag :email, nil, class: "control-label" %>
				<div class="controls">
					<%= text_field_tag :email  %>
					<br />
				</div>
			</div>

			<div class="control-group">

				<%= label_tag :password,nil, class: "control-label" %>
				<div class="controls">
					<%= password_field_tag :password %>
					<br />
				</div>
			</div>
			<%= submit_tag "Log in" , class: "btn btn-primary", id: "signin"%>

			<% end %>
		</div>
		
	</div>
</div>

<a style="position: absolute;bottom: 0px;float: right;color: #898989;font-size: 10pt;">V 1.1.4.1 </a><a style="position: absolute;bottom: 0px;float: right;right: 0px;color: #898989;font-size: 10pt;"><!-- &copy;-ḱß﹩◎ƒ☂ --> </a>
