<% stylesheet_link_tag 'welcome'  %>
<%= link_to  "Sign up!" , :new_user %>
<h2 align = "center" > Welcome to SiS </h2>

<div id= "loging_div" >

	<% if flash[:notice]%>
	<%= flash[:notice]%>
	<% else %>
	<h2 id="Sign_in" >Sign in</h2>
	<%= form_tag sessions_path do |f| %>
	<%= label_tag :email %>
	<%= text_field_tag :email , nil ,class: "general_input_box" %>
	<br />
	<%= label_tag :password %>
	<%= password_field_tag :password, nil  , class: "general_input_box" %>
	<br />
	<%= submit_tag "Log in" , class: "blue"%>
	<% end %>
	<% end %>
</div>

<a style="position: absolute;bottom: 0px;float: right;color: #898989;font-size: 10pt;">V 1.1.4.1 </a><a style="position: absolute;bottom: 0px;float: right;right: 0px;color: #898989;font-size: 10pt;"><!-- &copy;-ḱß﹩◎ƒ☂ --> </a>
