<% content_for :head do %> <title> Student information system for University of moratuwa FIT (Batch 11) </title>
<meta name="description" content="Student information system for Batch 11 .Self learning project by B11 Group" />
<meta name="keywords" content="student information, moratuwa, batch ,registration number, phone number, gpa, " />
<% end %>

<style>
	/*==================================================
	 * Effect 8
	 * ===============================================*/
	.effect8 {
		position: relative;
		-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
	.effect8:before, .effect8:after {
		content: "";
		position: absolute;
		z-index: -1;
		-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
		-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
		box-shadow: 0 0 20px rgba(0,0,0,0.8);
		top: 10px;
		bottom: 10px;
		left: 0;
		right: 0;
		-moz-border-radius: 100px /10px;
		border-radius: 100px /10px;
	}
	.effect8:after {
		right: 10px;
		left: auto;
		-webkit-transform: skew(8deg) rotate(3deg);
		-moz-transform: skew(8deg) rotate(3deg);
		-ms-transform: skew(8deg) rotate(3deg);
		-o-transform: skew(8deg) rotate(3deg);
		transform: skew(8deg) rotate(3deg);
	}
	.apps-canvas {
		background-color: #0073E5;
		background-image: -ms-radial-gradient(center top,ellipse cover,#00A6FE 0,#0073E5 100%);
		background-image: -moz-radial-gradient(center top,ellipse farthest-corner,#00a6fe 0,#0073e5 100%);
		background-image: -o-radial-gradient(center top,ellipse cover,#00A6FE 0,#0073E5 100%);
		background-image: -webkit-gradient(radial,center top,0,center top,559,color-stop(0,#00A6FE),color-stop(1,#0073E5));
		background-image: -webkit-radial-gradient(center top,ellipse cover,#00A6FE 0,#0073E5 100%);
		-moz-box-shadow: 0 -6px 5px -6px rgba(0,0,0,.6) inset, 0 7px 5px -6px rgba(0,0,0,.5) inset;
		-webkit-box-shadow: 0 -6px 5px -6px rgba(0,0,0,.6) inset, 0 7px 5px -6px rgba(0,0,0,.5) inset;
		box-shadow: 0 -6px 5px -6px rgba(0,0,0,.6) inset, 0 7px 5px -6px rgba(0,0,0,.5) inset;
	}

	.inner {
		margin: auto;
		width: 100%;
		padding: 1em 0;
	}

</style>

<div class="row">

	<div class="col-md-12 text-center" style="padding-bottom: 5%;">
		<div class="apps-canvas">
			<div class="inner">
				<h2 style="text-shadow: 1px 1px rgba(0,0,0,.3);color: white;"> Welcome to Student information system </h2>
			</div>
		</div>
	</div>
	<div class="row fixer">
		<div class="col-md-6 col-md-offset-3 effect8" style="background-color: #D9D9D9;" >
			<br />
			<%= form_for resource, :as => resource_name, :url => session_path(resource_name) ,html: {class: "form-horizontal"}  do |f| %>

			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Index Number</label>
				<div class="col-sm-10">
					<%= f.text_field :registration_number, :autofocus => true, placeholder: "Index number", class: "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<%= f.password_field :password, placeholder: "Password",class: "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<% if devise_mapping.rememberable? -%>
					<div class="checkbox">
						<%= f.label :remember_me %>
						<%= f.check_box :remember_me %>
					</div>

					<% end %>
					<%= submit_tag "Log in" , class: "btn btn-primary", id: "signin"%>

				</div>

			</div>
			<% end %>

		</div>

	</div>

</div>
