<% content_for :head do %> <title> Student information system for University of moratuwa FIT (Batch 11) </title>
<meta name="description" content="Student information system for Batch 11 .Self learning project by B11 Group" />
<meta name="keywords" content="student information, moratuwa, batch ,registration number, phone number, gpa, " />
<% end %>

<div class="center">
	<h3 class="shadow" > Welcome to Student information system </h3>
</div>

<div class="container center" >
	<div class="row">
		<!-- text-center -->
		<div class="span6 loging_n_register_div">
			<h4 class="shadow" style="text-align: center;">Sign in</h4>

			<%= form_for resource, :as => resource_name, :url => session_path(resource_name) ,html: {class: "form-horizontal"}  do |f| %>

			<div class="control-group input-append">
				<%= f.label :registration_number, class: "control-label" %>
				<div class="controls">
					<%= f.text_field :registration_number, :autofocus => true, placeholder: "Index number" %>

					<br />
				</div>
			</div>

			<div class="control-group">

				<%= f.label :password, class: "control-label" %>
				<div class="controls">
					<div>
						<%= f.password_field :password, placeholder: "Password" %>
					</div>
				<% if devise_mapping.rememberable? -%>
					<%= f.check_box :remember_me %>
					<%= f.label :remember_me %>
				<% end %>

  
				</div>

			</div>
		
			<%= submit_tag "Log in" , class: "btn btn-primary", id: "signin"%>


			<% end %>

		</div>

	</div>
</div>

<a style="position: absolute;bottom: 0px;float: right;color: #898989;font-size: 10pt;">V 1.5 </a><a style="position: absolute;bottom: 0px;float: right;right: 0px;color: #898989;font-size: 10pt;"><!-- &copy;-ḱß﹩◎ƒ☂ --> </a>

