<h2>User Registration</h2>

<%= form_for(User.new, url: user_create_path, method: "post" ) do |f| %>


<div>
	<%= f.label :registration_number %>
	<br />
	<%= f.text_field :registration_number, :autofocus => true %>
</div>

<div>
	<%= f.label :password %>
	<br />
	<%= f.password_field :password %>
</div>

<div>
	<%= f.label :password_confirmation %>
	<br />
	<%= f.password_field :password_confirmation %>
</div>

<%= f.label :role,"User role" %>
<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>

<div>
	<%= f.submit "Register" %>
</div>
<% end %>

