<!-- <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title><%= @page_title ||= 'Student information system for University of moratuwa FIT (Batch 11)' %></title>
		<%= javascript_include_tag "https://d10ajoocuyu32n.cloudfront.net/jquery-1.9.1.min.js", "https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.js", "https://d10ajoocuyu32n.cloudfront.net/codiqa.ext.js" %>
		<%= stylesheet_link_tag "https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.css" %>
		<%= favicon_link_tag "fav/favicon.ico"%>
		<%= yield :head %>
		<%= csrf_meta_tag %>
		
<%= stylesheet_link_tag "jquery_navobile" %>
<%= javascript_include_tag "modernizer" %>
<%= javascript_include_tag "jquery_nav" %>
<%= javascript_include_tag "hammer_min" %>		
<%= javascript_include_tag "jquery_hammer" %>




<script>
$(function() {
	$('#navigation').navobile();
});
</script>
	</head>
	<body>

<div class="mobile-header-bar mobile-only" style="position:relative;">
<a href="#" id="show-navobile" class="icon">=</a>
</div>
 
<nav id="navigation">
<ul>
<li><a href="#"><a href="http://www.jqueryscript.net/menu/">Menu</a> 1</a></li>
<li><a href="#">Menu 2</a></li>
<li><a href="#">Menu 3</a></li>
</ul>
</nav>
 

	</body>
</html> -->

Under construction