<% if false %>

<%= Internship.count('company_name', :distinct => true) %>
<br />

<%= Internship.group(:company_name).count(:company_name) %>
<% end %>

<div class="container text-center" >
	<div class="row ">
		<div class="col-md-6">

			<% pie_chart(Internship.group(:company_name).count(:company_name)) %>
                        <%= column_chart Internship.group(:company_name).count(:company_name) %>
		</div>
		<div class="col-md-6">
			<%= pie_chart({"Pending" => (203 - Internship.count(:id)), "Selected" => Internship.count(:id)}) %>
		</div>
	</div>
</div>

</div>

<div class="row text-center">
	<div class="col-md-6" >
		<%= javascript_include_tag "jquery.mCustomScrollbar.concat.min"%>
		<script>
			$(".list-group").mCustomScrollbar();
		</script>

		<div class="list-group" style="max-height: 330px;overflow-y: scroll;">
			<a class="list-group-item active"> Companies who has already accept interns </a>
			<% Internship.select("DISTINCT(company_name)").order('company_name ASC').each do |p| %>

			<a href="/features/interns?company_name=<%= p.company_name %>" company_id = "<%= p %>" class="list-group-item"><%= p.company_name %></a>
			<% end %>
		</div>

	</div>

	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Recently selected students
			</div>
			<div class="panel-body">
				<% @latestRecords.each do |record| %>
				<div class="well">
					<%= link_to record.profile do %><%= record.profile.common_name %><% end %> got selected to <a data-toggle="tooltip" data-placement="top" title="Show interns" href="/features/interns?company_name=<%= record.company_name  %>"><%= record.company_name  %></a>
				</div>

				<% end %>

			</div>
		</div>
	</div>

</div>
