<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title><%= @page_title ||= 'Student information system for University of moratuwa FIT (Batch 11)' %></title>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %> <!-- https://github.com/ankane/chartkick -->
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= favicon_link_tag "fav/favicon.ico"%>
		<%= yield :head %>
		<%= csrf_meta_tag %>

	</head>
	<body>
		<% if false%>

		<%= link_to root_path do%>
		<h3>Students info system</h3>
		<% end %>
		<%= link_to("Settings",{:controller => "users" ,:action => "settings"}, :class => "settings_button") %>

		<% end %>

		<div class="container" style="position: fixed;top: 0px;left: 0px;right: 0px;">
			<div class="navbar ">
				<div class="navbar-inner ">
					<ul class="nav">

						<li <%= 'class=active' if params[:action] == "index" %> >
							<%= link_to :Search, root_path %>
						</li>
						<li <%= 'class=active' if params[:action] == "dictionary" %> >
							<%= link_to :Dictionary, controller: "/features", action: "dictionary" %>

						</li>
						<li <%= 'class=active' if params[:action] == "education" %> >
							<%= link_to :Education, controller: "/features", action: "education" %>

						</li>
						<% if current_user.role.eql? "admin"%>
						<li <%= 'class=active' if params[:action] == "batch_messages" %> >
							<%= link_to "Mailer", {controller: "/features", action: "mailer"} %>
							<% end %>
						</li>
						<li <%= 'class=active' if params[:action] == "gpa" %> >
							<%= link_to "GPA", controller: "/features", action: "gpa" %>

						</li>

						<li>

							<div class="search_form" style="border: 0px;margin: 0px;padding: 0px;">

								<%= text_field_tag :search_box,nil,name: "search_key",placeholder: "Search index number or name", autofocus: true %>
								<span id="search_loading_animation" class="spinner" style="display: none;"><i class="icon-spin icon-refresh"></i></span>
							</div>
						</li>

					</ul>

					<ul class="nav pull-right">
						<ul class="nav pull-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="float: left;font-size: 12pt;color: #AA45BB"><%= current_user.profile.try(:common_name) || current_user.registration_number  %><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to profile_path(current_user.profile) do %>
										<i class="icon-user"></i> Profile
										<% end %>
									</li>
									<li>
										<a href="/help/support"><i class="icon-envelope"></i> Contact Support</a>
									</li>
									<li class="divider"</li>

									<% if current_user.role.eql? "admin" %>
									<li>
									<a href="/user/register"><i class="icon-wrench"></i> <span class="text-warning">Manage Users</span></a>
									</li>

									<li>
									<a href="/profile/new"><i class="icon-cog"></i> <span class="text-warning">Manage Profiles</span></a>
									</li>

									<li class="divider"</li>

									<% end %>
									<li>
									<%= link_to(destroy_user_session_path, :method => :delete) do  %>
									<i class="icon-off"></i> Logout
									<% end %>
									</li>
									</ul>
									</li>
									</ul>
									</ul>

									</div>

									</div>

									</div>

									<div class="to_messages">

									<% if notice %>
									<div class="alert alert-success alert-dismissable">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
									&times;
									</button>
									<%= notice %>
				</div>

				<% end %>

				<% if alert %>
				<div class="alert alert-error alert-dismissable">
					<%= alert %>
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
						&times;
					</button>
					<%= alert %>
				</div>
				<% end %>

				<% if flash[:alert_success] %>

				<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
						&times;
					</button>
					<strong>Success </strong><%= flash[:alert_success] %>
					<% flash[:alert_success] = nil%>
				</div>
				<%end%>

				<% if flash[:alert_info] %>

				<div class="alert alert-info alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
						&times;
					</button>
					<strong>Info:</strong><%= flash[:alert_info] %>
					<% flash[:alert_info] = nil%>
				</div>
				<%end%>

				<% if flash[:alert_warning] %>

				<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
						&times;
					</button>
					<strong>Warning!</strong> <%= flash[:alert_warning]  %>
					<% flash[:alert_warning] = nil%>
				</div>
				<%end%>

				<% if flash[:alert_danger] %>

				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
						&times;
					</button>
					<strong>Danger!</strong><%= flash[:alert_danger] %>
					<% flash[:alert_danger] = nil%>
				</div>
				<%end%>

			</div>

			<div class="container pull-left">
				<div class="navbar navbar-fixed-bottom">
					<div class="navbar-inner">
						<ul class="nav" style="margin-left: 25%;">
							<li>
								<a href="#" >&copy; 2013 SiS</a>

							</li>
							<li>
								<a href="/about">About</a>
							</li>
							<li>
								<a href="/about/contact">Contact</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
							<li>
								<a href="http://status.uni.knnect.com">Status</a>
							</li>
							<li>
								<a href="//dev.uni.knnect.com/">API</a>
							</li>
							<li>
								<a href="#">Help</a>
							</li>
							<li>
								<a href="/tos">Terms</a>
							</li>
							<li>
								<a href="/privacy">Privacy</a>
							</li>
						</ul>

					</div>
				</div>
			</div>

			<div id="global_navigations_div" class="wrapper" >

			</div>
			<hr />

			<div class="wrapper" style="margin-bottom: 50px;margin-top: 30px;">
				<% if flash[:message] %>
				<div class="alert">
					<label style="color: red">Message: <%= flash[:message]%></label>
				</div>
				<% end %>

				<div id="yield_content">
					<%= yield %>
				</div>

			</div>

	</body>
</html>

<% if false %>
Other notes
---link_to with h1---
http://stackoverflow.com/questions/1086360/how-do-i-wrap-link-to-around-some-html-ruby-code
<% end %>

